*, *:after, *:before { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
    content: ''; display: table; 
}
.clearfix:after {
    clear: both; 
}

body {
    background: #26C281;
    color: rgba(0,0,0,0.45);
    font-size: 100%;
    line-height: 1.25;
    padding-top: 100px;
    font-family: 'Lato', Arial, sans-serif;
    text-align:center;
}

h1{
    margin: 0;
    font-weight: 400;
    font-size: 2.5em;
}

a {
    color: rgba(0,0,0,0.25);
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: rgba(0,0,0,0.6);
}

#address-finder{
    display:inline-block;
}

.pf-container{
    box-sizing: border-box;
    position: relative;
}

.pf-input{
    display: block;
    margin: 0.3em 0 0 0;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 500px;
    border: none;
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.8);
    font-size: 1.8em;
    line-height: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    height: 60px;
    margin:30px auto;
    outline:none;
}

::-webkit-input-placeholder {
    color: rgba(0,0,0,0.8);
}

:-moz-placeholder {
    color: rgba(0,0,0,0.8);
}

::-moz-placeholder {
    color: rgba(0,0,0,0.8);
}

:-ms-input-placeholder {  
    color: rgba(0,0,0,0.8);
}

.pf-container ul{
    padding: 0;
    border:0 px solid rgba(0,0,0,0);
    box-sizing: border-box;
    list-style: none;
    position: absolute;
    cursor: pointer;
    top: 100%;
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.8);
    text-align: left;
    margin-top:-5px;
    opacity:0;
    overflow:hidden;
    transition:all 480ms;
}

.pf-container ul.active{
    height: auto;
    opacity:1;
    margin-top:5px;
}

.pf-container ul.inactive{
    opacity:0;
    margin-top:-5px;
}

.pf-container ul li{
    position: relative;
    width: 100%;
    white-space: nowrap;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
    padding:0 10px;
}

.pf-container ul li:hover,
.pf-container ul li.hover{
    background: rgba(0,0,0,0.2);
}

#results-list{
    list-style: none;
    text-align: left;
}

#results-list li{}






